# Time Series Operations - Intro

In this chapter, we discover (part of) the extensive time series capabilities of the pandas package.

Also see the following two links for further study:

* [https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html)
* [https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/09_timeseries.html](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/09_timeseries.html)

# Preparations

In [1]:
import pandas as pd

pd.set_option("display.max_columns", 500)

# Demo using our financial dataset

The financial dataset from our previous examples also contains date related information: the financial year (*u_year*) and the respective fiscal year end (*u_fye*). Here, we are going to focus on the *u_year*.

In [2]:
df = pd.read_csv("../../data/raw/financial_data_intro.csv")
df.head()

,u_company_name_id,u_year,u_company_name,cb_naics,u_iso3,u_fye,cb_cusip,cb_at,cb_ni,cb_financial_industry
0,14651,2005,British American Tobacco PLC,312230,GBR,2005-12-31,110448107,32737.984,2707.110,False
1,14651,2006,British American Tobacco PLC,312230,GBR,2006-12-31,110448107,34816.074,3713.506,False
2,14651,2007,British American Tobacco PLC,312230,GBR,2007-12-31,110448107,37161.970,4226.559,False
3,14651,2008,British American Tobacco PLC,312230,GBR,2008-12-31,110448107,40276.807,3591.888,False
4,14651,2009,British American Tobacco PLC,312230,GBR,2009-12-31,110448107,43026.854,4386.107,False

# Calculating lagged and forward values with `shift()`

With the `shift()` method, values from previous or future periods can be accessed. A typical use case are calculations of 'lagged' or 'forward' values.

`shift()` will look a certain number of rows above or below the current row, according to the index of the DataFrame. It can be combined with `groupby` - in our case this is absolutely essential because values from one firm might be transferred to another in our **cross-sectional time series** dataset!

**Make sure that the data is sorted by the relevant date/time column**.

Also consider date-time indexing, if you plan to work more intensely with time series data:
[https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#indexing)

In [3]:
# sort by firm, then by year
df = df.sort_values(["u_company_name_id", "u_year"])
df.head(5)

,u_company_name_id,u_year,u_company_name,cb_naics,u_iso3,u_fye,cb_cusip,cb_at,cb_ni,cb_financial_industry
199,2172,2015,Adaptimmune Therapeutics plc,325414,GBR,2015-06-30,00653A107,300.716,-21.592,False
200,2172,2016,Adaptimmune Therapeutics plc,325414,GBR,2016-12-31,00653A107,234.515,-71.579,False
201,2172,2017,Adaptimmune Therapeutics plc,325414,GBR,2017-12-31,00653A107,281.147,-70.138,False
202,2172,2018,Adaptimmune Therapeutics plc,325414,GBR,2018-12-31,00653A107,276.736,-95.514,False
183,2440,2015,Advanced Accelerator Applications SA,325414,FRA,2015-12-31,00790T100,297.648,-18.461,False

In [4]:
# storing the lagged total assets (cb_at) WITHIN the firm
df["cb_at_lag1"] = df.groupby("u_company_name_id")["cb_at"].shift(1)
df[["u_company_name", "u_year", "cb_at", "cb_at_lag1"]].head(20)

                           u_company_name  u_year      cb_at  cb_at_lag1
199          Adaptimmune Therapeutics plc    2015    300.716         NaN
200          Adaptimmune Therapeutics plc    2016    234.515     300.716
201          Adaptimmune Therapeutics plc    2017    281.147     234.515
202          Adaptimmune Therapeutics plc    2018    276.736     281.147
183  Advanced Accelerator Applications SA    2015    297.648         NaN
184  Advanced Accelerator Applications SA    2016    441.858     297.648
488                      Air France - KLM    2005  32142.858         NaN
489                      Air France - KLM    2006  35668.458   32142.858
490                      Air France - KLM    2007  48505.545   35668.458
491                      Air France - KLM    2008  38155.875   48505.545
492                      Air France - KLM    2009  37568.465   38155.875
493                      Air France - KLM    2011  35438.344   37568.465
494                      Air France - KLM    2012  36227.216   35438.344
495                      Air France - KLM    2013  35030.352   36227.216
496                      Air France - KLM    2014  28110.623   35030.352
497                      Air France - KLM    2015  25339.477   28110.623
498                      Air France - KLM    2016  24197.846   25339.477
499                      Air France - KLM    2017  29343.298   24197.846
500                      Air France - KLM    2018  33267.289   29343.298
727                            Aixtron SE    2005    281.031         NaN

In [5]:
# calculating the total assets 2 (!) years in the future:
df["cb_at_forward2"] = df.groupby("u_company_name_id")["cb_at"].shift(-2)
df[["u_company_name", "u_year", "cb_at", "cb_at_forward2"]].head(20)

                           u_company_name  u_year      cb_at  cb_at_forward2
199          Adaptimmune Therapeutics plc    2015    300.716         281.147
200          Adaptimmune Therapeutics plc    2016    234.515         276.736
201          Adaptimmune Therapeutics plc    2017    281.147             NaN
202          Adaptimmune Therapeutics plc    2018    276.736             NaN
183  Advanced Accelerator Applications SA    2015    297.648             NaN
184  Advanced Accelerator Applications SA    2016    441.858             NaN
488                      Air France - KLM    2005  32142.858       48505.545
489                      Air France - KLM    2006  35668.458       38155.875
490                      Air France - KLM    2007  48505.545       37568.465
491                      Air France - KLM    2008  38155.875       35438.344
492                      Air France - KLM    2009  37568.465       36227.216
493                      Air France - KLM    2011  35438.344       35030.352
494                      Air France - KLM    2012  36227.216       28110.623
495                      Air France - KLM    2013  35030.352       25339.477
496                      Air France - KLM    2014  28110.623       24197.846
497                      Air France - KLM    2015  25339.477       29343.298
498                      Air France - KLM    2016  24197.846       33267.289
499                      Air France - KLM    2017  29343.298             NaN
500                      Air France - KLM    2018  33267.289             NaN
727                            Aixtron SE    2005    281.031         433.456

In [6]:
df["cb_at_lag2"] = df.groupby("u_company_name_id")["cb_at"].shift(2)
df.head(3)

,u_company_name_id,u_year,u_company_name,cb_naics,u_iso3,u_fye,cb_cusip,cb_at,cb_ni,cb_financial_industry,cb_at_lag1,cb_at_forward2,cb_at_lag2
199,2172,2015,Adaptimmune Therapeutics plc,325414,GBR,2015-06-30,00653A107,300.716,-21.592,False,NaN,281.147,NaN
200,2172,2016,Adaptimmune Therapeutics plc,325414,GBR,2016-12-31,00653A107,234.515,-71.579,False,300.716,276.736,NaN
201,2172,2017,Adaptimmune Therapeutics plc,325414,GBR,2017-12-31,00653A107,281.147,-70.138,False,234.515,NaN,300.716

In [7]:
df["cb_at_diff1_percent"] = (df["cb_at"] - df["cb_at_lag1"]) / df["cb_at_lag1"] * 100

# Calculate changes (differences)

The `diff()` method can be used to calculate changes over time. Again, make sure to use `groupby()` if necessary!

In [8]:
# First difference of cb_at
df["cb_at_diff1"] = df.groupby("u_company_name_id")["cb_at"].diff(1)
df[["u_company_name", "u_year", "cb_at", "cb_at_diff1"]].head(20)

                           u_company_name  u_year      cb_at  cb_at_diff1
199          Adaptimmune Therapeutics plc    2015    300.716          NaN
200          Adaptimmune Therapeutics plc    2016    234.515      -66.201
201          Adaptimmune Therapeutics plc    2017    281.147       46.632
202          Adaptimmune Therapeutics plc    2018    276.736       -4.411
183  Advanced Accelerator Applications SA    2015    297.648          NaN
184  Advanced Accelerator Applications SA    2016    441.858      144.210
488                      Air France - KLM    2005  32142.858          NaN
489                      Air France - KLM    2006  35668.458     3525.600
490                      Air France - KLM    2007  48505.545    12837.087
491                      Air France - KLM    2008  38155.875   -10349.670
492                      Air France - KLM    2009  37568.465     -587.410
493                      Air France - KLM    2011  35438.344    -2130.121
494                      Air France - KLM    2012  36227.216      788.872
495                      Air France - KLM    2013  35030.352    -1196.864
496                      Air France - KLM    2014  28110.623    -6919.729
497                      Air France - KLM    2015  25339.477    -2771.146
498                      Air France - KLM    2016  24197.846    -1141.631
499                      Air France - KLM    2017  29343.298     5145.452
500                      Air France - KLM    2018  33267.289     3923.991
727                            Aixtron SE    2005    281.031          NaN

# Calculate percentage changes

Combining `shift()` and `diff()`, we can calculate percentage changes

In [9]:
df["cb_at_diff1_percent"] = df.groupby("u_company_name_id")["cb_at"].diff(1) / df.groupby(
    "u_company_name_id"
)["cb_at"].shift(1)
df[["u_company_name", "u_year", "cb_at", "cb_at_diff1_percent"]].head(20)

,u_company_name,u_year,cb_at,cb_at_diff1_percent
199,Adaptimmune Therapeutics plc,2015,300.716,NaN
200,Adaptimmune Therapeutics plc,2016,234.515,-0.220145
201,Adaptimmune Therapeutics plc,2017,281.147,0.198844
202,Adaptimmune Therapeutics plc,2018,276.736,-0.015689
183,Advanced Accelerator Applications SA,2015,297.648,NaN
184,Advanced Accelerator Applications SA,2016,441.858,0.484498
488,Air France - KLM,2005,32142.858,NaN
489,Air France - KLM,2006,35668.458,0.109685
490,Air France - KLM,2007,48505.545,0.359900
491,Air France - KLM,2008,38155.875,-0.213371
492,Air France - KLM,2009,37568.465,-0.015395
493,Air France - KLM,2011,35438.344,-0.056700
494,Air France - KLM,2012,36227.216,0.022260
495,Air France - KLM,2013,35030.352,-0.033038
496,Air France - KLM,2014,28110.623,-0.197535
497,Air France - KLM,2015,25339.477,-0.098580
498,Air France - KLM,2016,24197.846,-0.045053
499,Air France - KLM,2017,29343.298,0.212641
500,Air France - KLM,2018,33267.289,0.133727
727,Aixtron SE,2005,281.031,NaN

# Window functions

Window functions can aggregate data over a certain number of rows (typically over time). Common examples are moving averages or running totals.

## Rolling window functions

Rolling windows always have a fixed size. The window *slides* through the data and collects a certain number of rows at a time. This can be used for moving averages, for example. The `rolling()` method invokes an object of the `Rolling` class, which offers a set of useful functions, including `count()`, `sum()`, `mean()`, etc.

See [https://pandas.pydata.org/pandas-docs/stable/reference/window.html#rolling-window-functions](https://pandas.pydata.org/pandas-docs/stable/reference/window.html#rolling-window-functions)

In [10]:
# calculating the moving average of cb_at over 3 periods (two years before and current year)
df.groupby("u_company_name_id")["cb_at"].rolling(3).mean()

u_company_name_id
2172               199           NaN
                   200           NaN
                   201    272.126000
                   202    264.132667
2440               183           NaN
                             ...
109031             159           NaN
                   160     84.692667
                   161     79.948333
                   162     74.099000
                   163     75.185000
Name: cb_at, Length: 824, dtype: float64

In [11]:
df.groupby("u_company_name_id")["cb_at"].rolling(3).mean().to_numpy()

array([           nan,            nan, 2.72126000e+02, 2.64132667e+02,
                  nan,            nan,            nan,            nan,
       3.87722870e+04, 4.07766260e+04, 4.14099617e+04, 3.70542280e+04,
       3.64113417e+04, 3.55653040e+04, 3.31227303e+04, 2.94934840e+04,
       2.58826487e+04, 2.62935403e+04, 2.89361443e+04,            nan,
                  nan, 3.54068000e+02, 4.06460333e+02, 5.76962333e+02,
       7.96681000e+02, 9.86724333e+02, 9.46442667e+02, 8.40913333e+02,
       7.20015667e+02, 6.48340667e+02, 5.43104000e+02, 5.10269667e+02,
       5.41465667e+02, 5.98609000e+02,            nan,            nan,
       4.82726667e+01, 2.76513333e+01,            nan,            nan,
       1.37374297e+06, 1.42320149e+06, 1.23890514e+06, 9.98786350e+05,
       8.32824814e+05, 8.59116133e+05, 9.09508688e+05, 9.57142429e+05,
       9.59122051e+05, 9.43181408e+05, 9.79334745e+05, 1.01458680e+06,
                  nan,            nan, 4.12775550e+04, 3.93767200e+04,
       3.10438930e+04, 2.21914737e+04, 1.60923867e+04, 1.59376153e+04,
                  nan,            nan, 1.20412067e+03, 1.20764433e+03,
       1.23660833e+03, 1.42491567e+03, 1.68475733e+03, 2.02476867e+03,
       2.37342600e+03, 2.65426133e+03, 2.90130700e+03,            nan,
                  nan, 2.62536000e+03, 3.57762833e+03, 4.21182367e+03,
       3.99023467e+03, 3.74024933e+03, 3.59032633e+03, 3.24381900e+03,
       2.97427033e+03, 3.47440433e+03, 4.21258500e+03, 4.84217500e+03,
       4.74911600e+03, 4.68238400e+03,            nan,            nan,
                  nan, 5.91567833e+03, 6.58511633e+03, 7.12248767e+03,
       7.48415567e+03, 7.92049433e+03, 9.15465200e+03, 1.16568703e+04,
       1.42216480e+04, 1.61453903e+04, 1.69917663e+04, 1.77377990e+04,
       1.82207640e+04, 1.86386907e+04,            nan,            nan,
       8.99583819e+05, 9.84437184e+05, 1.00274133e+06, 9.74454684e+05,
       9.77678801e+05, 9.74181243e+05, 9.98326901e+05, 1.02146964e+06,
       1.00770138e+06, 9.73967144e+05, 9.83800606e+05, 1.01789432e+06,
                  nan,            nan, 5.67853907e+04, 6.63025580e+04,
       7.08714797e+04, 7.43593013e+04, 7.72160660e+04, 8.09974940e+04,
       8.42986227e+04, 8.66283553e+04, 8.39947653e+04, 8.13303057e+04,
       8.41114270e+04, 9.15037417e+04,            nan,            nan,
       2.20197000e+05, 2.27305000e+05, 2.33427333e+05, 2.45489333e+05,
       2.67099333e+05, 2.88507667e+05, 2.99650333e+05, 2.96729333e+05,
       2.83942333e+05, 2.69817667e+05, 2.67221000e+05, 2.74002333e+05,
       2.84628333e+05,            nan,            nan, 4.95960747e+04,
       4.92297780e+04, 4.78978880e+04, 4.10640867e+04, 3.98704393e+04,
       3.79253373e+04, 3.91721450e+04, 3.98713973e+04, 4.77158683e+04,
       5.15839887e+04, 5.81171267e+04, 5.77931283e+04,            nan,
                  nan, 6.40909460e+04, 7.39589023e+04, 7.37569160e+04,
       7.15289220e+04, 6.99829133e+04, 6.81623320e+04, 6.89511263e+04,
       7.44638357e+04, 7.86554423e+04, 8.40113903e+04, 8.57711997e+04,
       1.07210174e+05,            nan,            nan, 8.25100000e+00,
       8.51466667e+00, 7.90233333e+00,            nan,            nan,
                  nan, 1.78000000e-01, 2.51000000e-01, 5.69666667e-01,
       2.26766667e+00, 7.57266667e+00, 2.09243333e+01,            nan,
                  nan, 1.20439367e+03, 1.18388200e+03, 1.15461367e+03,
       1.11704200e+03, 1.08975167e+03, 1.05797833e+03, 1.04931000e+03,
       1.03824667e+03, 9.67092333e+02, 7.60735000e+02,            nan,
                  nan, 3.49053427e+04, 3.74182837e+04, 4.01552103e+04,
       4.20619243e+04, 4.26812520e+04, 4.31520230e+04, 4.37088420e+04,
       4.32515630e+04, 4.39291803e+04, 4.54343073e+04, 9.54500930e+04,
       1.42130380e+05, 1.88023404e+05,            nan,            nan,
       3.41518133e+03, 3.84462300e+03, 4.07050000e+03, 4.05733200e+03,
       4.13532233e+03, 4.37803367e+03, 4.76624533e+03, 5.05434233e+03,
       5.23907167e+03, 5.34039333e+03, 5.97286200e+03, 6.55422267e+03,
       7.31423567e+03,            nan,            nan, 3.67924200e+03,
       5.66003133e+03, 7.22710700e+03, 7.32008433e+03, 7.10855967e+03,
       7.53513833e+03, 7.93442300e+03, 7.88553333e+03, 6.94560000e+03,
       5.81183333e+03, 4.87956667e+03, 4.34080000e+03, 4.05783333e+03,
                  nan,            nan,            nan, 2.24395023e+04,
       2.97303363e+04, 3.59674727e+04, 3.32536520e+04, 3.30591613e+04,
       3.40637087e+04, 3.55945837e+04, 3.65329633e+04, 3.64024740e+04,
       3.68075987e+04, 3.96130033e+04, 4.31628547e+04,            nan,
                  nan,            nan, 2.75968000e+02, 2.96632667e+02,
       2.37921667e+02,            nan,            nan, 2.28940805e+05,
       2.10695142e+05, 1.88646550e+05, 1.82964903e+05, 1.85676909e+05,
       1.95769087e+05, 2.13091796e+05, 2.25527019e+05, 2.32499608e+05,
       2.40566270e+05, 2.66503276e+05, 2.95371394e+05,            nan,
                  nan, 2.32410800e+03, 2.76006200e+03, 3.04223767e+03,
       3.45115700e+03, 3.97809433e+03, 4.46348633e+03, 5.02831333e+03,
       5.51148733e+03, 6.21197533e+03, 6.73058367e+03, 7.54371267e+03,
       8.30232300e+03,            nan,            nan, 2.70328267e+04,
       2.98220910e+04, 3.38695350e+04, 3.59731390e+04, 3.77197343e+04,
       3.76024940e+04, 3.79925393e+04, 3.81415747e+04, 3.74006390e+04,
       3.62464490e+04, 3.84876490e+04, 4.13208110e+04,            nan,
                  nan, 1.66471096e+05, 1.73125452e+05, 1.76909967e+05,
       1.74706002e+05, 1.70564392e+05, 1.56966600e+05, 1.54700729e+05,
       1.53888995e+05, 1.58539131e+05, 1.56500879e+05, 1.60958612e+05,
       1.64344198e+05,            nan,            nan, 7.72420667e+02,
       1.02237700e+03, 1.30305267e+03, 1.54307767e+03, 1.72582467e+03,
       1.85231900e+03, 1.86104333e+03, 1.89425167e+03, 1.95175000e+03,
       2.14247033e+03, 2.32565100e+03, 2.50097633e+03, 2.67152400e+03,
                  nan,            nan, 1.72757739e+05, 1.95663145e+05,
       2.12613091e+05, 2.13402215e+05, 2.06645518e+05, 1.95448123e+05,
       1.87870849e+05, 1.72463057e+05, 1.51894225e+05, 1.14257294e+05,
       8.59791680e+04, 6.55578973e+04,            nan,            nan,
       4.75576667e+01, 5.65420000e+01, 6.15470000e+01, 5.55363333e+01,
       4.91260000e+01, 4.32170000e+01, 3.96650000e+01, 3.86943333e+01,
       3.92783333e+01, 4.33226667e+01, 4.91460000e+01, 5.37816667e+01,
                  nan,            nan, 9.74812900e+03, 1.24807643e+04,
       1.53862667e+04, 1.85647087e+04, 2.15272323e+04, 2.45998693e+04,
       2.75832043e+04, 3.08911677e+04, 3.07707230e+04, 3.03991213e+04,
       2.87559183e+04, 3.10756617e+04, 3.36307200e+04,            nan,
                  nan, 3.97828333e+02, 3.97986667e+02, 4.16560333e+02,
       4.45035000e+02, 5.31607667e+02, 6.03866000e+02, 6.93720333e+02,
       7.13583000e+02, 7.69976667e+02,            nan,            nan,
       2.41148262e+05, 2.55854921e+05, 2.64282610e+05, 2.55918151e+05,
       2.30311080e+05, 1.98140700e+05, 1.80580749e+05, 1.74145266e+05,
       1.74650108e+05,            nan,            nan, 2.39754333e+02,
       2.49257333e+02, 2.78304667e+02, 2.97881000e+02, 2.94114333e+02,
       2.99472667e+02, 3.18624000e+02, 4.95424667e+02, 6.85559333e+02,
                  nan,            nan, 8.04557000e+05, 8.19470667e+05,
       8.29038333e+05, 1.31817567e+06, 1.75026000e+06, 2.13295067e+06,
       2.03437767e+06, 1.96715200e+06, 1.96588333e+06, 1.98498833e+06,
       2.01973400e+06, 2.04540400e+06, 2.10548633e+06,            nan,
                  nan, 1.17326820e+04, 1.40448740e+04, 1.49704187e+04,
       1.59452173e+04, 1.74829420e+04, 1.96511697e+04, 2.16595847e+04,
       2.36310017e+04, 2.47001643e+04, 2.59715097e+04, 2.71168123e+04,
       2.86205533e+04,            nan,            nan,            nan,
       5.27717603e+04, 5.63853287e+04, 6.28009583e+04, 6.39613460e+04,
       6.60404690e+04, 6.54243523e+04, 6.70086590e+04, 6.68420363e+04,
       7.06303120e+04, 7.16752767e+04, 7.59925190e+04, 7.43904007e+04,
       8.52756857e+04,            nan,            nan, 1.58666667e+00,
       2.78933333e+00,            nan,            nan, 2.59303333e+01,
       2.77153333e+01,            nan,            nan, 1.39251090e+04,
       1.31161507e+04, 1.06322067e+04, 7.83437633e+03, 7.14271833e+03,
       7.42401533e+03, 7.82449500e+03, 7.90159767e+03, 8.62634267e+03,
       9.36619367e+03, 1.05722347e+04, 1.15334970e+04, 1.30044357e+04,
                  nan,            nan, 6.42960000e+01, 3.39793333e+01,
       1.63953333e+01, 3.33533333e+00, 3.74233333e+00, 4.04733333e+00,
       6.50400000e+00, 8.20733333e+00, 6.71966667e+00, 3.22700000e+00,
       7.33333333e-03, 6.33333333e-03,            nan,            nan,
       2.25016667e+04, 2.56319863e+04, 2.83172207e+04, 2.93818110e+04,
       3.02536793e+04, 3.13902340e+04, 3.29478033e+04, 3.32959747e+04,
       3.27817053e+04, 3.67734567e+04, 4.24345297e+04, 4.79798703e+04,
                  nan,            nan, 3.86996700e+04, 4.22768910e+04,
       4.49524757e+04, 4.64264190e+04, 5.21299483e+04, 5.87377413e+04,
       6.78711723e+04, 6.90414197e+04, 6.79451623e+04, 6.33451387e+04,
       6.92909567e+04, 7.67966117e+04, 9.19250617e+04,            nan,
                  nan, 1.44384667e+02, 1.57866667e+02, 1.57740000e+02,
       1.36472333e+02, 1.13048333e+02, 9.71236667e+01, 8.67200000e+01,
       7.47360000e+01, 5.96943333e+01, 4.72426667e+01, 3.39303333e+01,
       2.68393333e+01,            nan,            nan,            nan,
                  nan,            nan, 2.55992000e+02, 2.60780667e+02,
       3.05618667e+02, 3.52345000e+02, 4.06249000e+02, 4.37785000e+02,
       5.05767667e+02, 5.40749667e+02, 6.00401667e+02, 6.61336667e+02,
       7.53647000e+02, 8.19938333e+02, 8.69355667e+02,            nan,
                  nan, 7.69890000e+01, 5.41960000e+01,            nan,
                  nan, 5.35137333e+02, 5.57772000e+02,            nan,
                  nan, 2.54460000e+01,            nan,            nan,
       5.86896470e+04, 6.48557127e+04, 6.82743257e+04, 6.80633720e+04,
       7.20891013e+04, 7.77470083e+04, 8.20428750e+04, 8.40902640e+04,
       8.46368233e+04, 8.30345860e+04, 8.32523727e+04, 8.23336160e+04,
                  nan,            nan, 1.25051333e+02, 1.56611667e+02,
       1.73718000e+02, 1.85563333e+02, 1.95934667e+02, 2.11228000e+02,
       2.33834667e+02, 2.57634333e+02, 2.75235000e+02, 2.87546667e+02,
       2.92462333e+02, 2.99078333e+02,            nan,            nan,
                  nan,            nan, 1.37801525e+05, 1.38851138e+05,
       1.37438702e+05, 1.29884465e+05, 1.27220254e+05, 1.22796976e+05,
       1.20521798e+05, 1.14631533e+05, 1.08176936e+05, 1.02051730e+05,
       1.04347561e+05, 1.08115598e+05,            nan,            nan,
                  nan, 1.57104367e+04, 1.65773330e+04, 1.75441610e+04,
       1.81925940e+04, 1.98034777e+04, 2.10203833e+04, 2.22710617e+04,
       2.34773743e+04, 2.53895270e+04, 2.62871977e+04, 2.74967953e+04,
       2.86208007e+04,            nan,            nan, 8.85610000e+01,
       5.31463333e+01, 5.45326667e+01, 5.99196667e+01, 7.05233333e+01,
       8.55926667e+01, 1.02136000e+02, 1.35105333e+02, 1.54159000e+02,
       1.73048000e+02, 1.79825000e+02,            nan,            nan,
                  nan, 1.24499000e+05, 1.25168000e+05, 1.28695333e+05,
       1.29154667e+05, 1.25874000e+05, 1.20003386e+05, 1.16093342e+05,
       1.10842673e+05, 1.00791218e+05, 9.04063910e+04, 8.32636370e+04,
       8.51191920e+04,            nan,            nan, 1.28034440e+04,
       1.58130123e+04, 1.80219637e+04, 2.21941147e+04, 2.56504443e+04,
       3.10561157e+04, 3.42824157e+04, 3.97715917e+04, 4.29585150e+04,
       4.60879373e+04, 4.75854613e+04, 5.22543017e+04, 5.92046817e+04,
                  nan,            nan, 1.03420083e+05, 1.02612850e+05,
       1.06646980e+05, 1.09353909e+05, 1.19269026e+05, 1.25159176e+05,
       1.31569563e+05, 1.27539564e+05, 1.20444132e+05, 1.13138109e+05,
       1.13857028e+05, 1.19337154e+05,            nan,            nan,
       1.16515163e+05, 1.26204283e+05, 1.34024048e+05, 1.37248364e+05,
       1.39642717e+05, 1.39752918e+05, 1.39124709e+05, 1.36539639e+05,
       1.34914672e+05, 1.36018135e+05, 1.44558623e+05, 1.53583693e+05,
                  nan,            nan, 1.07710417e+04, 1.23455523e+04,
       1.37800667e+04, 1.48118607e+04, 1.54448027e+04, 1.58273423e+04,
       1.63868613e+04, 1.72544497e+04, 1.72938803e+04, 1.70082103e+04,
       1.65590657e+04, 1.70695990e+04, 1.82135763e+04,            nan,
                  nan,            nan,            nan, 1.43454147e+05,
       1.56447468e+05, 1.71191737e+05, 1.79490234e+05, 1.95538594e+05,
       2.10031300e+05, 2.26149245e+05, 2.31808323e+05, 2.31111750e+05,
       2.28420000e+05, 2.32697667e+05, 2.43457000e+05, 2.57562333e+05,
                  nan,            nan, 1.78857667e+02, 2.65279667e+02,
                  nan,            nan, 1.03638560e+04, 9.46055633e+03,
       7.95325600e+03, 6.39785400e+03, 5.28230600e+03, 4.64126733e+03,
       4.26170567e+03, 4.01953500e+03, 4.15358433e+03, 4.33408133e+03,
       4.58528433e+03, 4.46302233e+03,            nan,            nan,
       4.94061667e+02, 7.06014667e+02, 8.72674667e+02, 8.83622667e+02,
       8.17653333e+02, 7.72954000e+02, 7.35394667e+02, 7.69729000e+02,
       7.59305333e+02, 6.91229000e+02, 6.32647333e+02, 5.54341333e+02,
       9.14715667e+02,            nan,            nan,            nan,
       1.00130773e+04, 9.76652400e+03, 9.52666333e+03, 9.33407300e+03,
       1.00913070e+04, 1.09138437e+04, 1.17761223e+04, 1.21149587e+04,
       1.23352200e+04, 1.32394513e+04, 1.61784947e+04, 1.90871120e+04,
                  nan,            nan, 2.34408000e+02, 1.48412000e+02,
       9.48493333e+01, 6.84686667e+01, 6.75906667e+01, 9.30093333e+01,
       1.21058000e+02, 1.51725667e+02, 1.40733333e+02,            nan,
                  nan,            nan,            nan, 1.83378109e+05,
       2.08755421e+05, 2.33307598e+05, 2.50744179e+05, 2.82511697e+05,
       3.33966720e+05, 3.94741343e+05, 4.26731010e+05, 4.28879890e+05,
       4.24030145e+05, 4.51550949e+05, 4.88150444e+05,            nan,
                  nan, 7.29578333e+02, 7.77274667e+02, 8.84164000e+02,
       9.11891000e+02, 1.01416967e+03, 1.07065667e+03, 1.19066800e+03,
       1.33389133e+03, 1.46818333e+03, 1.49128567e+03, 1.44878433e+03,
       1.37823767e+03, 1.33158967e+03,            nan,            nan,
       8.46926667e+01, 7.99483333e+01, 7.40990000e+01, 7.51850000e+01])

In [12]:
df["rol_mean_cb_at"] = df.groupby("u_company_name_id")["cb_at"].rolling(3).mean().to_numpy()
df[["u_company_name", "u_year", "cb_at", "rol_mean_cb_at"]].head(20)

                           u_company_name  u_year      cb_at  rol_mean_cb_at
199          Adaptimmune Therapeutics plc    2015    300.716             NaN
200          Adaptimmune Therapeutics plc    2016    234.515             NaN
201          Adaptimmune Therapeutics plc    2017    281.147      272.126000
202          Adaptimmune Therapeutics plc    2018    276.736      264.132667
183  Advanced Accelerator Applications SA    2015    297.648             NaN
184  Advanced Accelerator Applications SA    2016    441.858             NaN
488                      Air France - KLM    2005  32142.858             NaN
489                      Air France - KLM    2006  35668.458             NaN
490                      Air France - KLM    2007  48505.545    38772.287000
491                      Air France - KLM    2008  38155.875    40776.626000
492                      Air France - KLM    2009  37568.465    41409.961667
493                      Air France - KLM    2011  35438.344    37054.228000
494                      Air France - KLM    2012  36227.216    36411.341667
495                      Air France - KLM    2013  35030.352    35565.304000
496                      Air France - KLM    2014  28110.623    33122.730333
497                      Air France - KLM    2015  25339.477    29493.484000
498                      Air France - KLM    2016  24197.846    25882.648667
499                      Air France - KLM    2017  29343.298    26293.540333
500                      Air France - KLM    2018  33267.289    28936.144333
727                            Aixtron SE    2005    281.031             NaN

In [13]:
# unfortunately, the index of this result does not fit with our main DataFrame.
# Therefore, we pass the underlying numpy array (because we know it is sorted correctly!)
df["cb_at_mavg3"] = df.groupby("u_company_name_id")["cb_at"].rolling(3).mean().to_numpy()
df[["u_company_name", "u_year", "cb_at", "cb_at_mavg3"]].head(20)

                           u_company_name  u_year      cb_at   cb_at_mavg3
199          Adaptimmune Therapeutics plc    2015    300.716           NaN
200          Adaptimmune Therapeutics plc    2016    234.515           NaN
201          Adaptimmune Therapeutics plc    2017    281.147    272.126000
202          Adaptimmune Therapeutics plc    2018    276.736    264.132667
183  Advanced Accelerator Applications SA    2015    297.648           NaN
184  Advanced Accelerator Applications SA    2016    441.858           NaN
488                      Air France - KLM    2005  32142.858           NaN
489                      Air France - KLM    2006  35668.458           NaN
490                      Air France - KLM    2007  48505.545  38772.287000
491                      Air France - KLM    2008  38155.875  40776.626000
492                      Air France - KLM    2009  37568.465  41409.961667
493                      Air France - KLM    2011  35438.344  37054.228000
494                      Air France - KLM    2012  36227.216  36411.341667
495                      Air France - KLM    2013  35030.352  35565.304000
496                      Air France - KLM    2014  28110.623  33122.730333
497                      Air France - KLM    2015  25339.477  29493.484000
498                      Air France - KLM    2016  24197.846  25882.648667
499                      Air France - KLM    2017  29343.298  26293.540333
500                      Air France - KLM    2018  33267.289  28936.144333
727                            Aixtron SE    2005    281.031           NaN

## Expanding window functions

Expanding windows contain all observations up to the current row. A typical use case is the calculation of running totals. The `expanding()` method creates an object of the `Expanding` class, which offers the same capabilities as the `Rolling` class.

See [https://pandas.pydata.org/pandas-docs/stable/reference/window.html#expanding-window-functions](https://pandas.pydata.org/pandas-docs/stable/reference/window.html#expanding-window-functions).

In [14]:
# calculating the running total of net income (cb_ni)
df["cb_ni_running_total"] = (
    df.groupby("u_company_name_id")["cb_ni"].expanding(min_periods=3).sum().to_numpy()
)
df[["u_company_name", "u_year", "cb_ni", "cb_ni_running_total"]].head(10)

,u_company_name,u_year,cb_ni,cb_ni_running_total
199,Adaptimmune Therapeutics plc,2015,-21.592,NaN
200,Adaptimmune Therapeutics plc,2016,-71.579,NaN
201,Adaptimmune Therapeutics plc,2017,-70.138,-163.309
202,Adaptimmune Therapeutics plc,2018,-95.514,-258.823
183,Advanced Accelerator Applications SA,2015,-18.461,NaN
184,Advanced Accelerator Applications SA,2016,-26.690,NaN
488,Air France - KLM,2005,1108.291,NaN
489,Air France - KLM,2006,1191.623,NaN
490,Air France - KLM,2007,1182.214,3482.128
491,Air France - KLM,2008,-1079.445,2402.683

# Exercise

1. Load the first sheet of the Excel file "wdi_timeseries.xlsx" into a pandas DataFrame (see [here](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) for help with `pandas.read_excel()`)
2. Calculate the yearly change in life expectancy (*SP_DYN_LE00_IN*) per country.
3. Calculate the yearly change in life expectancy (*SP_DYN_LE00_IN*) per country as **percentage**.
4. Calculate the moving average of the market capitalization (*CM_MKT_LCAP_CD*) per country over 2 years, including the current year.
5. BONUS: Calculate the moving average of the market capitalization (*CM_MKT_LCAP_CD*) per country over 3 years, starting 1 year before the current year and including the year after the current year.